
<section id="servicos">
    <div class="container">
        <h2 class="servicos__titulo"> Alguns de nossos serviços </h2>

        <div class="servico__grupo">
            <div class="servico__card">
                <img src="../../../assets/img/hashtags_7268633.png" alt="Redes Sociais">
                <br>
                <br>
                <h4>Gerenciamento de <strong>Redes Sociais</strong></h4>
                <p>O gerenciamento de redes sociais envolve a administração e estratégia de presença online de uma empresa ou pessoa em plataformas como Facebook, Instagram, Twitter, etc. Inclui a criação de conteúdo relevante, interação com seguidores, análise de métricas e adaptação de estratégias.</p>
            </div>
            <div class="servico__card">
                <img src="../../../assets/img/medal_95314.png" alt="Ranqueamento Google">
                <br>
                <br>
                <h4>Ranqueamento <strong>Google</strong></h4>
                <p>O ranqueamento no Google determina a ordem em que as páginas aparecem nos resultados de busca. É influenciado por fatores como relevância do conteúdo, popularidade, qualidade técnica do site e experiência do usuário.</p>
            </div>
            <div class="servico__card">
                <img src="../../../assets/img/consultancy_9413366.png" alt="Consultoria">
                <br>
                <br>
                <h4>Consultoria <strong>Empresarial</strong></h4>
                <p>A consultoria é fornecida orientação e conselhos para empresas resolverem problemas, melhorarem processos ou atingirem objetivos específicos. Isso envolve a análise detalhada da situação da empresa, identificação de áreas de melhoria e desenvolvimento de estratégias personalizadas.</p>
            </div>
        </div>
    </div>
</section>