<div class="sobre__container">
    <div class="sobre__desc">
      <h1>Sobre <strong id="strong__titulo">Nós</strong></h1>
      <p>A Agência Oxy é especializada em marketing digital e está localizada em Três Lagoas, MS. Nós oferecemos soluções
        estratégicas e inovadoras para impulsionar o crescimento do seu negócio
        na área digital. Com uma equipe experiente e apaixonada, estamos prontos para ajudar você a alcançar resultados
        incríveis através de campanhas eficientes e inovadoras,
        otimizando sites e realizando a gestão de redes sociais. Conte conosco para elevar a visibilidade da sua marca e
        conquistar o <strong>sucesso digital que você merece!</strong></p>
    </div>
    <div class="sobre__img">
      <img src="../../../assets/img/Equipe.JPG" alt="Equipe Agência Oxy" height="400px" >
    </div>
  </div>
  