<div class="logos">

    <h1>Alguns de nossos Clientes</h1>

    <div class="logos-slide">
        <img src="../../../assets/logos/Logo-Cazzado.png" />
        <img src="../../../assets/logos/Logo-ClickNetwork.png" />
        <img src="../../../assets/logos/Logo-DonaBenta.png" />
        <img src="../../../assets/logos/Logo-Ecoservice.png" />
        <img src="../../../assets/logos/Logo-HotelPax.png" />
        <img src="../../../assets/logos/Logo-RestauranteDons.png" />
        <img src="../../../assets/logos/Logo-ParkdasAguas.png" />
        <img src="../../../assets/logos/Logo-Espetus.png" />
    </div>

    <div class="logos-slide">
        <img src="../../../assets/logos/Logo-Cazzado.png" />
        <img src="../../../assets/logos/Logo-ClickNetwork.png" />
        <img src="../../../assets/logos/Logo-DonaBenta.png" />
        <img src="../../../assets/logos/Logo-Ecoservice.png" />
        <img src="../../../assets/logos/Logo-HotelPax.png" />
        <img src="../../../assets/logos/Logo-RestauranteDons.png" />
        <img src="../../../assets/logos/Logo-ParkdasAguas.png" />
        <img src="../../../assets/logos/Logo-Espetus.png" />
    </div>
</div>
