/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: 'Anton', sans-serif;

}

p, a, span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
}
